<a href="https://colab.research.google.com/github/pulindu-seniya-silva/Python-implementations/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#concatenate two lists index-wise
teams = ["India", "England", "NZ", "Aus"]
captains = ["Knohli", "Root", "Williaamson", "Smith"]

print(list(zip(teams, captains)))
print(dict(zip(teams, captains)))

[('India', 'Knohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]
{'India': 'Knohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}

In [ ]:
#calculate the total amount
books = ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100, 60, 90, 70]
quantities = [3, 2, 1, 4]

for book, price, quantity in zip(books, prices, quantities):
  total = price * quantity
  print(f"You bought {quantity} {book} for ${total}")

You bought 3 textbooks for $300
You bought 2 exercise books for $120
You bought 1 story book for $90
You bought 4 drawing books for $280

In [ ]:
#Add 10 to each item in a list
List1 = [2, 4, 6, 8, 10]
result = [x + 10 for x in List1]
print(result)

[12, 14, 16, 18, 20]

In [ ]:
#iterate two lists one in original and one in reverse order
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]

for a, b in zip(list1, reversed(list2)):
  print(a, b)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [ ]:
#Extend a nested list by adding ["h", "i", "j"] into the correct sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
#Remove all occurrences of item 15
List3 = [10, 15, 20, 15, 32, 54, 15]
result = [x for x in List3
              if x != 15]
print(result)

[10, 20, 32, 54]

In [ ]:
#Merge two dictionaries
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18, 'Rick': 20, 'Matt': 16}
dict_1.update(dict_2)
print(dict_1)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [ ]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
d[4] = d.pop(0)
print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

In [ ]:
#Convert two lists to a dictionary
country = ["USA", "France", "India"]
capital = ["Washington D.C.", "Paris", "New Delhi"]

dict(zip(country, capital))

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

In [ ]:
#Delete a set of keys from a dictionary
My_dict = {
  "Fruit": "Pear",
  "Vegetable": "Carrot",
  "Pet": "Cat",
  "Book": "Moby dick",
  "Crystal": "Amethyst"
}
keysToRemove = ["Book", "Crystal"]

My_dict.pop("Book")
My_dict.pop("Crystal")
print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [ ]:
#Extract specific keys from a dictionary
sub_dict = {'math': 100, 'chem': 98, 'sci': 100, 'eng': 100}
key_to_extract = {'math', 'chem', 'sci'}

result = {k: sub_dict[k] for k in key_to_extract}
print(result)

{'math': 100, 'sci': 100, 'chem': 98}

In [ ]:
#Display numbers divisible by 5
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
result = [x for x in list1 if x % 5 == 0]
print(result)

[15, 55, 75, 150, 180, 200]

In [ ]:
#Display numbers based on multiple conditions
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i > 500:
    break
  if i > 150:
    continue
  if i % 5 == 0:
    print(i)

75
150
145

In [ ]:
#Count uppercase, lowercase, digits, and special characters in a string
Substring = "@W3Resource.Com"
upper = lower = digit = special = 0
for i in Substring:
  if i.isupper():
    upper += 1
  elif i.islower():
    lower += 1
  elif i.isdigit():
    digit += 1
  else:
    special += 1
print (upper, lower, digit, special)

3 9 1 2